In [7]:
# Load libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [8]:

# load dataset
data = pd.read_csv('dataset60.csv')
data.head()

  college caste   rank gender branch
0     sru    oc  15733      m    cse
1     sru    oc  17006      f    cse
2     sru  bc-a  58558      m    cse
3     sru  bc-a  58749      f    cse
4     sru  bc-b  30038      m    cse

In [9]:
data['college'].unique()

array(['sru'], dtype=object)

In [10]:
data.drop('college', axis=1, inplace=True)

In [11]:
data

   caste   rank gender branch
0     oc  15733      m    cse
1     oc  17006      f    cse
2   bc-a  58558      m    cse
3   bc-a  58749      f    cse
4   bc-b  30038      m    cse
5   bc-b  30117      f    cse
6   bc-c  75838      m    cse
7   bc-c  27163      f    cse
8   bc-d  24461      m    cse
9   bc-d  25637      f    cse
10  bc-e  34646      m    cse
11  bc-e  35785      f    cse
12    sc  59827      m    cse
13    sc  61328      f    cse
14    st  40699      m    cse
15    st  59345      f    cse
16    oc  21895      m    ece
17    oc  23932      f    ece
18  bc-a  75174      m    ece
19  bc-a  72098      f    ece
20  bc-b  46284      m    ece
21  bc-b  46375      f    ece
22  bc-d  34542      m    ece
23  bc-d  35196      f    ece
24  bc-e  70321      m    ece
25  bc-e  54631      f    ece
26    sc  74259      m    ece
27    sc  80619      f    ece
28    st  57521      m    ece
29    st  67249      f    ece
30    oc  52287      m    eee
31    oc  68072      f    eee
32  bc-b  77364      m    eee
33  bc-b  75834      f    eee
34  bc-d  76261      m    eee
35  bc-d  68046      f    eee
36  bc-e  76341      m    eee
37    sc  82071      m    eee
38    sc  85529      f    eee
39    st  64780      m    eee
40    st  77965      f    eee
41    oc  82798      m     ce
42    oc  67179      f     ce
43  bc-a  74582      m     ce
44  bc-b  81142      m     ce
45  bc-d  84503      m     ce
46  bc-d  67678      f     ce
47  bc-e  66997      m     ce
48    sc  85724      m     ce
49    sc  81438      f     ce
50    st  80019      m     ce
51    st  67635      f     ce
52    oc  83978      m     me
53  bc-b  71783      m     me
54  bc-d  75849      m     me
55  bc-d  66659      f     me
56  bc-e  75206      m     me
57    sc  86143      m     me
58    st  86016      m     me

In [12]:
data['caste'].unique()

array(['oc', 'bc-a', 'bc-b', 'bc-c', 'bc-d', 'bc-e', 'sc', 'st'],
      dtype=object)

In [13]:
data['caste'].replace(['oc', 'bc-a', 'bc-b', 'bc-c', 'bc-d', 'bc-e', 'sc', 'st'], [0,1,2,3,4,5,6,7], inplace=True)

In [14]:
data

    caste   rank gender branch
0       0  15733      m    cse
1       0  17006      f    cse
2       1  58558      m    cse
3       1  58749      f    cse
4       2  30038      m    cse
5       2  30117      f    cse
6       3  75838      m    cse
7       3  27163      f    cse
8       4  24461      m    cse
9       4  25637      f    cse
10      5  34646      m    cse
11      5  35785      f    cse
12      6  59827      m    cse
13      6  61328      f    cse
14      7  40699      m    cse
15      7  59345      f    cse
16      0  21895      m    ece
17      0  23932      f    ece
18      1  75174      m    ece
19      1  72098      f    ece
20      2  46284      m    ece
21      2  46375      f    ece
22      4  34542      m    ece
23      4  35196      f    ece
24      5  70321      m    ece
25      5  54631      f    ece
26      6  74259      m    ece
27      6  80619      f    ece
28      7  57521      m    ece
29      7  67249      f    ece
30      0  52287      m    eee
31      0  68072      f    eee
32      2  77364      m    eee
33      2  75834      f    eee
34      4  76261      m    eee
35      4  68046      f    eee
36      5  76341      m    eee
37      6  82071      m    eee
38      6  85529      f    eee
39      7  64780      m    eee
40      7  77965      f    eee
41      0  82798      m     ce
42      0  67179      f     ce
43      1  74582      m     ce
44      2  81142      m     ce
45      4  84503      m     ce
46      4  67678      f     ce
47      5  66997      m     ce
48      6  85724      m     ce
49      6  81438      f     ce
50      7  80019      m     ce
51      7  67635      f     ce
52      0  83978      m     me
53      2  71783      m     me
54      4  75849      m     me
55      4  66659      f     me
56      5  75206      m     me
57      6  86143      m     me
58      7  86016      m     me

In [15]:
def binary_map(x):
  if x == 'm':
    return 0
  else:
    return 1


data['gender'] = data['gender'].apply(binary_map)

In [16]:
data

    caste   rank  gender branch
0       0  15733       0    cse
1       0  17006       1    cse
2       1  58558       0    cse
3       1  58749       1    cse
4       2  30038       0    cse
5       2  30117       1    cse
6       3  75838       0    cse
7       3  27163       1    cse
8       4  24461       0    cse
9       4  25637       1    cse
10      5  34646       0    cse
11      5  35785       1    cse
12      6  59827       0    cse
13      6  61328       1    cse
14      7  40699       0    cse
15      7  59345       1    cse
16      0  21895       0    ece
17      0  23932       1    ece
18      1  75174       0    ece
19      1  72098       1    ece
20      2  46284       0    ece
21      2  46375       1    ece
22      4  34542       0    ece
23      4  35196       1    ece
24      5  70321       0    ece
25      5  54631       1    ece
26      6  74259       0    ece
27      6  80619       1    ece
28      7  57521       0    ece
29      7  67249       1    ece
30      0  52287       0    eee
31      0  68072       1    eee
32      2  77364       0    eee
33      2  75834       1    eee
34      4  76261       0    eee
35      4  68046       1    eee
36      5  76341       0    eee
37      6  82071       0    eee
38      6  85529       1    eee
39      7  64780       0    eee
40      7  77965       1    eee
41      0  82798       0     ce
42      0  67179       1     ce
43      1  74582       0     ce
44      2  81142       0     ce
45      4  84503       0     ce
46      4  67678       1     ce
47      5  66997       0     ce
48      6  85724       0     ce
49      6  81438       1     ce
50      7  80019       0     ce
51      7  67635       1     ce
52      0  83978       0     me
53      2  71783       0     me
54      4  75849       0     me
55      4  66659       1     me
56      5  75206       0     me
57      6  86143       0     me
58      7  86016       0     me

In [17]:
#Assign numeric values to branch column now. You can do dummy coding here as well
data['branch'].unique()

array(['cse', 'ece', 'eee', 'ce', 'me'], dtype=object)

In [18]:
data['branch'].replace(['cse', 'ece', 'eee', 'ce', 'me'], [0,1,2,3,4], inplace=True)

In [19]:
data

    caste   rank  gender  branch
0       0  15733       0       0
1       0  17006       1       0
2       1  58558       0       0
3       1  58749       1       0
4       2  30038       0       0
5       2  30117       1       0
6       3  75838       0       0
7       3  27163       1       0
8       4  24461       0       0
9       4  25637       1       0
10      5  34646       0       0
11      5  35785       1       0
12      6  59827       0       0
13      6  61328       1       0
14      7  40699       0       0
15      7  59345       1       0
16      0  21895       0       1
17      0  23932       1       1
18      1  75174       0       1
19      1  72098       1       1
20      2  46284       0       1
21      2  46375       1       1
22      4  34542       0       1
23      4  35196       1       1
24      5  70321       0       1
25      5  54631       1       1
26      6  74259       0       1
27      6  80619       1       1
28      7  57521       0       1
29      7  67249       1       1
30      0  52287       0       2
31      0  68072       1       2
32      2  77364       0       2
33      2  75834       1       2
34      4  76261       0       2
35      4  68046       1       2
36      5  76341       0       2
37      6  82071       0       2
38      6  85529       1       2
39      7  64780       0       2
40      7  77965       1       2
41      0  82798       0       3
42      0  67179       1       3
43      1  74582       0       3
44      2  81142       0       3
45      4  84503       0       3
46      4  67678       1       3
47      5  66997       0       3
48      6  85724       0       3
49      6  81438       1       3
50      7  80019       0       3
51      7  67635       1       3
52      0  83978       0       4
53      2  71783       0       4
54      4  75849       0       4
55      4  66659       1       4
56      5  75206       0       4
57      6  86143       0       4
58      7  86016       0       4

In [20]:
x = data.drop('branch', axis=1)
y = data['branch']
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.1, random_state=72)

In [21]:
model = DecisionTreeClassifier()
model.fit(xtrain,ytrain)
print('Training Accuracy :', model.score(xtrain, ytrain))
print('Testing Accuracy :', model.score(xtest, ytest) )

Training Accuracy : 1.0
Testing Accuracy : 0.6666666666666666

In [22]:
model.get_depth()

10

In [23]:
model = DecisionTreeClassifier( criterion='entropy',max_depth=9)
model.fit(xtrain, ytrain)
print('Training Accuracy :', model.score(xtrain, ytrain))
print('Testing Accuracy :', model.score(xtest, ytest) )

Training Accuracy : 1.0
Testing Accuracy : 0.8333333333333334

In [24]:
model = DecisionTreeClassifier( criterion='gini',max_depth=9)
model.fit(xtrain, ytrain)
print('Training Accuracy :', model.score(xtrain, ytrain))
print('Testing Accuracy :', model.score(xtest, ytest) )

Training Accuracy : 0.9811320754716981
Testing Accuracy : 0.8333333333333334

In [25]:
predicted = model.predict(xtrain)
xtrain['Actual output'] = ytrain
xtrain['Predicted output'] = predicted
xtrain

    caste   rank  gender  Actual output  Predicted output
27      6  80619       1              1                 1
6       3  75838       0              0                 0
43      1  74582       0              3                 1
35      4  68046       1              2                 2
49      6  81438       1              3                 3
20      2  46284       0              1                 1
56      5  75206       0              4                 4
38      6  85529       1              2                 2
18      1  75174       0              1                 1
23      4  35196       1              1                 1
58      7  86016       0              4                 4
14      7  40699       0              0                 0
53      2  71783       0              4                 4
54      4  75849       0              4                 4
33      2  75834       1              2                 2
57      6  86143       0              4                 4
44      2  81142       0              3                 3
41      0  82798       0              3                 3
36      5  76341       0              2                 2
52      0  83978       0              4                 4
17      0  23932       1              1                 1
22      4  34542       0              1                 1
39      7  64780       0              2                 2
51      7  67635       1              3                 3
25      5  54631       1              1                 1
3       1  58749       1              0                 0
2       1  58558       0              0                 0
31      0  68072       1              2                 2
34      4  76261       0              2                 2
32      2  77364       0              2                 2
48      6  85724       0              3                 3
0       0  15733       0              0                 0
50      7  80019       0              3                 3
1       0  17006       1              0                 0
28      7  57521       0              1                 1
8       4  24461       0              0                 0
16      0  21895       0              1                 1
40      7  77965       1              2                 2
12      6  59827       0              0                 0
45      4  84503       0              3                 3
21      2  46375       1              1                 1
29      7  67249       1              1                 1
7       3  27163       1              0                 0
47      5  66997       0              3                 3
26      6  74259       0              1                 1
15      7  59345       1              0                 0
5       2  30117       1              0                 0
30      0  52287       0              2                 2
37      6  82071       0              2                 2
10      5  34646       0              0                 0
46      4  67678       1              3                 3
19      1  72098       1              1                 1
24      5  70321       0              1                 1

In [26]:
import pickle
# Save the model
filename = 'model.pkl'
pickle.dump(model, open(filename, 'wb'))

In [27]:
#Code to load the model and predict
import pickle
model = pickle.load(open('model.pkl', 'rb'))
caste = ['oc', 'bc-a', 'bc-b', 'bc-c', 'bc-d', 'bc-e', 'sc', 'st']
gender = ['m', 'f']
branch = ['cse', 'ece', 'eee', 'ce', 'me']
inputData = pd.DataFrame(columns=['caste', 'rank', 'gender'])
casteInput = input('Enter the caste :')
rankInput = int(input('Enter the rank :'))
genderInput = input('Enter the gender :')
casteInput = caste.index(casteInput)
genderInput = gender.index(genderInput)
inputData.loc[0] = [casteInput, rankInput, genderInput]
output = model.predict(inputData)
print('Branch =', branch[output[0]])

Branch = eee